// All body related styles go here
@import "global";


// hero styles
#hero {
  overflow: hidden;
  padding-top: 1px;
  margin-top: -1px;
  background: url("../images/banff.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  #logo {
    background-color: rgba(136, 136, 136, 0.5);
    border-radius: 10px;
    margin-top: 15%;
    padding: 2em 0em;
  }
}


// set the style for the map
#map-search {
  height: 3em;
  margin-top: 1em;

}
#map {
  height: 100%;
  margin-top: -8%;
  @extend .z-depth-2
}
#application {
  height:90%;
  background-color: $very-light-grey
}

img{
  height:100px;
  float: left;
}
#singleImage{
  width: 100%;
}

// add padding to div elements inside section
